body {
    height: 100%;
    margin: 0px;
    font-family: IBM Plex Mono, Menlo, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier, "monospace";
}


.all {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rightUp {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}


/* navigation bar*/
.insider {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.nav {
    display: flex;
    background-color: #f5f5f5f5;
    overflow: hidden;
    flex-direction: row;
    width: 100%;
}

#amount {
    border-right: 1px solid #ccc;
    width: 1em;
    height: 20px;
    margin: 0px;
}

#credit {
    height: 16px;
    width: 1em;
}

/*dropdown*/
#arrow {
    width: 1em;
}

#dropbtn {
    color: rgb(19, 19, 19);
    font-size: 16px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 6px;
    width: 7em;
}

.dropdown-content {
    display: none;
    position: sticky;
    background-color: #f5f5f5f5;
    width: 12em;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 6px;
}

.dropdown-content a {
    color: black;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover #dropbtn {
    background-color: #f1f1f1;
}

#icon {
    position: absolute;
    right: 80%;
}

/* side bar*/
.side-bar {
    margin: 0px;
}

.leftside {
    background-color: #132732;
    width: 64px;
    height: 100%;
}

.icon-side {
    padding-top: 14px;
    padding-left: 14px;
    padding-bottom: 14px;
}


/*inside box*/
.content {
    width: 100%;
}

.title {
    background-color: #1c96a3;
    height: 160px;
    width: inherit;
}

#head {
    color: #ffffff;
    margin: 0px;
    padding: 1.4em;
    font-size: 40px;
    display: flex;
    width: fit-content;
}



/*information*/
.info {
    width: auto;
    display: flex;
    flex-direction: row;
    padding-left: 4em;
    color: rgb(184, 177, 177);
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.info p {
    border-top: grey solid 1px;
    width: 22em;
}

.id {
    width: auto;
}

.modules {
    width: auto;
}

.open {
    width: auto;
}